.pcSide {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content !important;
    gap: 80vh !important;
    background-color: #1E2139;
}

.logo {
    margin-left: -21vw !important;
}

.topDown {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-items: center;
    align-items: center;
}