<section class="bodyPc">
<app-sidebar></app-sidebar>
<div class="invoices">
<section class="left"> 
<h1>Invoices</h1>
<p>There are [pending.length] invoices</p>
</section>
<section class="right">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         filter by status
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      
      <button style="height: 6vh; border-radius: 20px !important; background-color: #7C5DFA; border: 0px; " class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
        Toggle static offcanvas
      </button>
      
      <div style="margin-left: 4vw;" class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="staticBackdropLabel">New Invoice</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
         <p style="color: #7C5DFA;">Bill From</p>
          <p>Street Address</p>
          <input style="width: 100%"/>
        <section class="cityPostalCountry">
        <p>City</p>
        <p>Post Code</p>
        <p>Country</p>
        </section>
        <section class="cpcInput">
        <input/>
        <input/>
        <input/>
</section>

        </div>
      </div>
</section>
</div>
</section>